body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Optional: Set background color */
    font-family: Arial, sans-serif; /* Optional: Specify a font */
}

.container {
    text-align: center;
}

#music-player {
    width: 100%; /* Ensure the player takes full width of its container */
    max-width: 400px; /* Adjust as needed */
    padding: 20px;
    background-color: #ffffff; /* Optional: Set background color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#track-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#track-info img {
    width: 80px; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
    border-radius: 50%;
    margin-right: 15px;
}

#track-details {
    text-align: left; /* Adjust as needed */
}

#track-title {
    color:pink ;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

#track-artist {
    font-size: 14px;
    color: #666;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#controls button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

#controls button:hover {
    background-color: #2980b9;
}

input[type="range"] {
    width: 150px;
    margin: 0 10px;
    -webkit-appearance: none;
    background-color: #ddd;
    height: 4px;
    border-radius: 2px;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: #3498db;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background-color: #3498db;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
